%btn {
  background: map-get($map: $elementColor, $key: button-primary);

  font-family: DM Sans;
  // font-style: normal;
  text-align: center;

  color: map-get($map: $elementColor, $key: button-secondary);
  border: none;
  cursor: pointer;
}

%btn-1 {
  @extend %btn;
  width: 159px;
  height: 44px;

  border-radius: 22px;

  font-weight: 700;
  font-size: map-get($map: $font-size__desk, $key: nav);
  line-height: 1.31;
}

%btn-1:hover,
%btn-2:hover,
%btn-4:hover,
%btn-5:hover,
%btn-6:hover {
  background: #ecebeb;
}

%btn-2 {
  @extend %btn;
  width: 138px;
  height: 40px;

  border-radius: 20px;

  font-weight: 400;
  font-size: map-get($map: $font-size__desk, $key: text);
  line-height: 1.29;
}

%btn-3 {
  @extend %btn;
  width: 104px;
  height: 40px;

  background: map-get($map: $elementColor, $key: button-secondary);
  border-radius: 20px;
  color: map-get($map: $elementColor, $key: button-primary);
}

%btn-3:hover,
%btn-7:hover {
  background: map-get($map: $elementColor, $key: button-primary);
  color: map-get($map: $elementColor, $key: button-secondary);
}

%btn-4 {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: map-get($map: $elementColor, $key: button-primary);
  border: none;
  color: map-get($map: $elementColor, $key: button-secondary);
  cursor: pointer;
}

%btn-5 {
  @extend %btn-1;
  width: 176px;
  height: 44px;
}

%btn-6 {
  @extend %btn-1;
  width: 180px;
  height: 44px;
}

%btn-7 {
  @extend %btn-1;
  width: 198px;
  height: 44px;
  background: map-get($map: $elementColor, $key: button-secondary);
  color: map-get($map: $elementColor, $key: button-primary);
}
